page-routes {

.label-md {
    margin: 13px 3px 12px 43px;
}

     .item-md ion-icon[item-right] {
        position: absolute;
        top: 5px;
        right: 10px;
    }
    
	.colorParada{
        position: absolute;
        top: 8px;
		color: white;
    	font-weight: bold;
    	width: 35px;
    	height: 35px;
    	display: inline-block;
    	border-radius: 35px;
    	text-align: center;
    	line-height: 35px;
    	font-size: 20px;
    	float: left;
    	text-shadow: 1px 1px 5px grey;
	}
	.nombreLinea{
		font-weight: 600;
    	font-size: 15px;
    	display: table-cell;
    	vertical-align: middle;
    	width: 85%;
    	text-align: left;
	}

}
