

<ion-content>
    <ion-item-divider color="primary" class="logo" fixed>Líneas</ion-item-divider>

	<ion-list>
		<ion-item *ngFor="let linea of lineas; let i=index" text-wrap (click)="toggleGroup(i , linea)" [ngClass]="{active: isGroupShown(i)}">
			<div item-left class="colorParada" [style.background-color]="linea.colorfuerte">{{linea.claveLinea}}</div>
            <h2 class="nombreLinea" [innerText]="linea.nombre"></h2>

            <span class="numberRoute" *ngIf="linea.routes > 1">{{linea.routes}} routes</span>
            <span class="numberRoute" *ngIf="linea.routes == 1">{{linea.routes}} route 
            		( <ion-icon item-left name="repeat">
            		</ion-icon>
            		Trayecto circular )
            </span>

    	    <ion-icon color="primary" item-right 
        		[name]="isGroupShown(i) ? 'ios-remove-circle-outline' : 'ios-add-circle-outline' ">
	        </ion-icon>

	        <div class="sectionRoutes" *ngIf="isGroupShown(i)">

	        	<div *ngIf="trayectosLength > 0">
		        	<div class="route" ion-item *ngFor="let trayecto of trayectos" (click)="goToRoute($event, trayecto)">
		        		<span>{{trayecto.nombre}} - {{trayecto.destino}}</span>
		        	</div>
	        	</div> 
	        </div>
        </ion-item>
	</ion-list>
</ion-content>
