page-tabs {
	.fablabelContact{
	     position: absolute;
	     margin-top: -20px;
	     margin-left: -70px;
	     font-weight: bold;
	}

	.fablabelAbout{
	      position: absolute;
	      margin-top: -75px;
	      margin-left: -70px;
	      font-weight: bold;
	}

	.fablabelSetting{
	     position: absolute;
	     margin-top: -130px;
	     margin-left: -70px;
	     font-weight: bold;
	}    

}