page-tabs {
	.fablabelContact{
	     position: absolute;
	     margin-top: -20px;
	     margin-left: -70px;
	     font-weight: bold;
       background: cornsilk;
	}

	.fablabelAbout{
	      position: absolute;
	      margin-top: -75px;
	      margin-left: -70px;
	      font-weight: bold;
        background: cornsilk;
	}

	.fablabelSetting{
	     position: absolute;
	     margin-top: -130px;
	     margin-left: -70px;
	     font-weight: bold;
       background: cornsilk;
	}

	.tabs-md .tab-button[aria-selected=true] {
		color: #3f51b5;
}

.tabs-md-dark .tab-button[aria-selected=true] .tab-button-icon {
		color: #3f51b5;

}

}
