page-stops {

	#map{
	 width: 100%;
	 height:100%;
	}


  .myDivImage {
     width: 50px;
     height: 50px;
  }

  .myDivNumber {
    position: absolute;
    top: -8px;
    left: 33px;
    border: 1px solid #00001a;
    background: white;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
  }
  .leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  }

  .leaflet-cluster-spider-leg {
    /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
    -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
    -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
    -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
    transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
  }

  .marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
  }
  .marker-cluster-small div {
    background-color: rgba(18, 28, 255, 0.73);
  }

  .marker-cluster-medium {
    background-color: rgba(181, 226, 140, 0.6);
  }
  .marker-cluster-medium div {
    background-color: rgba(18, 28, 255, 0.73);
  }

  .marker-cluster-large {
    background-color: rgba(181, 226, 140, 0.6);
  }
  .marker-cluster-large div {
    background-color: rgba(18, 28, 255, 0.73);
  }

  /* IE 6-8 fallback colors */
  .leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
  }
  .leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
  }

  .leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
  }
  .leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
  }

  .leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
  }
  .leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
  }

  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    position: relative;
    top: 0px;
    left: 11px;
    background: rgba(71,68,71,0.95);
    box-shadow: 0 3px 14px rgba(0,0,0,0.1);
    color: white;
}

  .marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
  }
  .marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
  .marker-cluster span {
    color: white;
    line-height: 30px;
  }

  .lineaNum {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-right: 3px;
    margin-bottom: 3px;
    color: white;
  }

  .selectCoords {
    display: block;
    width: 100%;
    color: #EEE;
    background: rgba(71,68,71,0.95);
    height: 30px;
    border-width: 1px;
  }

  .selectCoords:hover {
    color: #1a1e06;
    background: rgba(255,255,255,0.95);
  }
}


