<!--
  Generated template for the RouteForwardBus page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>

  <div class="sectionFrecuencias" [hidden]="showMap" >

      <h2>
        <ion-icon item-left name="time"></ion-icon>
        <strong>Frecuencias</strong>
      </h2>

      <div *ngIf="frecuenciasForward">

          <div *ngFor="let frecuenciaForward of frecuenciasForward">

              <span>
                <ion-icon item-left name="calendar"></ion-icon>
                  <span>{{frecuenciaForward.nombreEs}}</span>
              </span>

              <span *ngIf="frecuenciaForward.mananas > 0">
                    <span>
                      <strong>Mañanas:</strong> {{frecuenciaForward.mananas}} minutos
                    </span>
                    <span>
                      <strong>Tardes:</strong> {{frecuenciaForward.tardes}} minutos
                    </span>
              </span>

              <span>
                  <span>
                    <strong>Primeras salidas:</strong> {{frecuenciaForward.primerasSalidas}}
                  </span>
                  <span>
                    <strong>Últimas salidas:</strong> {{frecuenciaForward.ultimasSalidas}}
                  </span>
              </span>

          </div>
      </div>
  </div>

  <div style="width:100%;height:100%;" #mapForward id="mapForward" *ngIf="showMap">
  </div>


  <ion-fab bottom right [hidden]="hideFabMap">
    <button ion-fab (click)="showMapForward()"><ion-icon name="md-map"></ion-icon ></button>
  </ion-fab>

  <ion-fab bottom right  [hidden]="hideFapRoute">
    <button ion-fab (click)="showRouteForward()" ><ion-icon name="ios-trending-up"></ion-icon></button>
  </ion-fab>

  <!--*ngIf="hideFabMap"-->
</ion-content>