<!--
  Generated template for the RouteForwardBus page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>

     <section id="cd-timeline" class="cd-container"  *ngFor="let timeForwardList of stopsNamesLineForwardList; let i=index" [hidden]="showMap">
      <div >
        <div class="cd-timeline-block">
          <div class="cd-timeline-icon royal" [style.background-color]="routeSelected.colorfuerte">
            {{stopsLineForwardList[i]}}
          </div>
          <div class="cd-timeline-content royal">

            <h5 class="marginBottom0 marginTop0">{{timeForwardList[2]}}</h5>
          </div>
        </div>
      </div>
    </section>

  <div class="sectionFrecuencias" [hidden]="showMap" >

      <h2 class="frecuencia">
        <ion-icon item-left name="time"></ion-icon>
        <strong>Frecuencias</strong>
      </h2>

      <div *ngIf="frequenciesForward">

          <div class="hours" *ngFor="let frecuencyForward of frequenciesForward">

              <span class="frecuencia">
                <ion-icon item-left name="calendar"></ion-icon>
                  <span>{{frecuencyForward.nombreEs}}</span>
              </span>

              <span *ngIf="frecuencyForward.mananas > 0">
                    <span class="frecuencia">
                      <strong>Mañanas:</strong> {{frecuencyForward.mananas}} minutos
                    </span>
                    <span class="frecuencia">
                      <strong>Tardes:</strong> {{frecuencyForward.tardes}} minutos
                    </span>
              </span>

              <span>
                  <span class="frecuencia">
                    <strong>Primeras salidas:</strong> {{frecuencyForward.primerasSalidas}}
                  </span>
                  <span class="frecuencia">
                    <strong>Últimas salidas:</strong> {{frecuencyForward.ultimasSalidas}}
                  </span>
              </span>

          </div>
      </div>
  </div>

  <div style="width:100%;height:100%;" #mapForward id="mapForward" *ngIf="showMap">
  </div>


  <ion-fab bottom right [hidden]="hideFabMap">
    <button ion-fab (click)="showMapForward()"><ion-icon name="md-map"></ion-icon ></button>
  </ion-fab>

  <ion-fab bottom right  [hidden]="hideFapRoute">
    <button ion-fab (click)="showRouteForward()" ><ion-icon name="ios-trending-up"></ion-icon></button>
  </ion-fab>

  <!--*ngIf="hideFabMap"-->
</ion-content>
