page-home {
  .search{
    width: 100%;
  }

  .logo {
    text-align: center;
  }

  .bus {
    width: 30px;
    height: 30px;
  }

  .numeroParada{
    padding: 2px 18px;
    border: 1px solid black;
  }

  .remove {
    background: #ff4d4d;
  }


  // estilos aplicados en la información de la parada seleccionada

  .sectionLineasParada{
    background-color: #f6f6f6;
    border-top: 1px dotted black;
    padding: 15px;
    text-align: left;
    margin: 0;
  }

  .lineasParadas{

  }

  .icon{
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
    position: relative;
    top: 6px;
    margin-right: 3px;
  }

  .numero{
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    padding: 2px 8px;
    margin-right: 3px;
    font-weight: bold;
  }

  .nombre{
    font-size: 15px;
    font-weight: 600;
  }

  .lineasParadas ul{
    list-style: none;
    padding: 0;
    background-color: white;
    margin-top: 16px;
    border: 1px solid #dadada;
    border-radius: 15px;
  }

  .listParada{
    padding: 20px 15px;
    margin: 0;
  }

  .numLinea{
    margin-right: 5px;
  }

  .numLinea span{
    color: white;
    font-weight: bold;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    float: left;
    text-shadow: 1px 1px 5px grey;
  }

  .infoLinea{
    width: 80%;
    padding-left: 0;
    display: inline-block;
  }

  .nombreLinea{
    background-color: transparent!important;
    display: block;
    font-size: 15px;
    color: black;
    font-weight: bold;
  }

  .primer{
    font-weight: 600;
    display: block;
    font-size: 15px;
  }

  .segundo{
    display: block;
    font-size: 14px;
  }

}
