page-home {
	.search{
		width: 100%;
	}

	.logo {
        text-align: center;
	}

	.bus {
		width: 30px;
		height: 30px;
	}

	.numeroParada{
		padding: 2px 18px;
		border: 1px solid black;	
	}

	.eliminar {
		z-index: 10;
	}

}
