<!--
  Generated template for the Warnings page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
  <h2>Avisos EMT-Palma</h2>
  <ion-list>
    <ion-item *ngFor="let warning of warnings; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <h2 class="warningTitle" [innerText]="warning.titulo"></h2>

      <span class="date" >{{warning.inicio}} hasta {{warning.fin}}</span>


      <ion-icon color="primary" item-right
                [name]="isGroupShown(i) ? 'ios-remove-circle-outline' : 'ios-add-circle-outline' ">
      </ion-icon>

      <div class="description" *ngIf="isGroupShown(i)">

        <div>
          <div>
            <span>{{warning.serviciosAfectados}}</span>
            <span>{{warning.descripcion}}</span>
          </div>
        </div>


      </div>
    </ion-item>
  </ion-list>
</ion-content>
