page-warnings {

	.headTitle{
	color: #488aff;

	}

     .item-md ion-icon[item-right] {
        position: absolute;
        top: -3px;
        right: -5px;
    }

    .warningTitle{
        font-weight: bold;


    }

    .date{
    	font-size: 12px;
    	font-weight: bold;

    }

    .description {
    border-top: 1px dotted;
	}

}
