page-line-bus-data {

    .tab-button-text {
     display: block !important
    }

    .item-md ion-icon[item-left]{
        position: absolute;
        top: -1px;
        margin-left: -15px;
    }

     .item-md ion-icon[item-right] {
        position: absolute;
        top: -5px;
        right: 10px;
    }

    .list-md {
        margin: -14px 0 16px 0;
    }

    .force-back-button .back-button {
        display: inline-block;
    }

	.colorParada{
		color: white;
    	font-weight: bold;
    	width: 35px;
    	height: 35px;
    	display: inline-block;
    	border-radius: 35px;
    	text-align: center;
    	line-height: 35px;
    	font-size: 20px;
    	float: left;
    	text-shadow: 1px 1px 5px grey;
	}
	.nombreLinea{
    	font-size: 15px;
    	display: table-cell;
    	vertical-align: middle;
    	width: 85%;
    	text-align: left;
        position: absolute;
        left: 58px;
        top: -10px;
	}

    .sectionFrecuencias{
        background-color: #b7b2b2;
        border-top: 1px dotted black;
        padding: 15px;
        text-align: left;
        margin: 0;
    }

    .item-md ion-icon[name="time"]{
        position: absolute;
        top: 51px;
     }

    .item-md ion-icon[name="calendar"]{
        position: absolute;
        top: 76px;
     }
}
