<ion-header  *ngIf="lineaSeleccionada">
  <ion-navbar class="force-back-button">
    <ion-title>
		<div item-left class="colorParada" [style.background-color]="lineaSeleccionada.colorfuerte">{{lineaSeleccionada.claveLinea}}</div>
        <h2 class="nombreLinea" [innerText]="lineaSeleccionada.nombre"></h2>
    </ion-title>
  </ion-navbar>
</ion-header> 

<!--<ion-header>

  <ion-navbar >
    <ion-title>that's settings page </ion-title>
  </ion-navbar>
[hidden]="trayectoCircular.length == 0"
</ion-header>-->


<ion-content padding >

  <ion-list *ngIf="trayectosLength > 1">

    <div *ngFor="let trayecto of trayectos; let i=index" text-wrap>
        <ion-item (click)="toggleGroupForward(i)" [ngClass]="{active: isGroupShownForward(i)}" >
            <div>	            
            	<ion-icon item-left name="arrow-round-forward"></ion-icon>
	            {{trayecto.nombre}} sentido hacia {{trayecto.destino}}
	            <ion-icon color="success" item-right 
	            		[name]="isGroupShownForward(i) ? 'arrow-dropdown' : 'arrow-dropright'">
	            </ion-icon>
            </div>        

	        <div class="sectionFrecuencias" *ngIf="isGroupShownForward(i)">
	        	<h2>
	            	<ion-icon item-left name="time"></ion-icon>
	            	<strong>Frecuencias</strong>
	        	</h2>

	        	<div>
	        		<span>
	        			<ion-icon item-left name="calendar"></ion-icon>
	            		<span>{{frecuencias.nombreEs}}</span>
	        		</span>
	        		<span></span>
	        		<span></span>
	        		información frecuencia de luneas a sábados	      
        		</div>

	        	<div>
	        		información frecuencia de festivos
	        	</div>	        
        	</div>
        </ion-item>

        <ion-item (click)="toggleGroupBack(i)" [ngClass]="{active: isGroupShownBack(i)}" >
        	<div>        
        		<ion-icon item-left name="arrow-round-back"></ion-icon>
        	    {{trayecto.nombre}} sentido hacia {{trayecto.origen}}
        	    <ion-icon color="success" item-right 
	            		[name]="isGroupShownBack(i) ? 'arrow-dropdown' : 'arrow-dropright'">
	            </ion-icon>
   		    </div>

	        <div class="sectionFrecuencias" *ngIf="isGroupShownBack(i)">
	        	<h2>
	            	<ion-icon item-left name="time"></ion-icon>
	            	<strong>Frecuencias</strong>
	        	</h2>

	        	<div>
	        		<span>
	        			<ion-icon item-left name="calendar"></ion-icon>
	            		<span>{{frecuencias.nombreEs}}</span>
	        		</span>
	        		<span></span>
	        		<span></span>
	        		información frecuencia de luneas a sábados
	        	</div>
	        	<div>
	        		información frecuencia de festivos
	        	</div>
	        </div>
	    </ion-item>


    </div>

  </ion-list>

   <ion-list *ngIf="trayectosLength == 1">
         <div text-wrap>
            <ion-item>
            <ion-icon item-left name="repeat">
            </ion-icon>
            	Trayecto circular			
            </ion-item>

        </div>

  </ion-list>
</ion-content>


<!-- https://www.djamware.com/post/5892739480aca7411808fa9c/how-to-create-ionic-2-accordion-list -->