<ion-header  *ngIf="selectedLine">
  <ion-navbar class="force-back-button">
    <ion-title>
		<div item-left class="colorParada" [style.background-color]="selectedLine.colorfuerte">{{selectedLine.claveLinea}}</div>
        <h2 class="nombreLinea" [innerText]="selectedLine.nombreLinea"></h2>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding >

<ion-tabs tabsPlacement="top" *ngIf="routes == null">
	<!-- ion tabs -->
  <ion-tab [root]="tab1Root" [rootParams]="tab1Params" tabTitle="{{selectedLine.nombre}} - {{selectedLine.destino}}" ></ion-tab>
  <ion-tab [root]="tab2Root" [rootParams]="tab2Params" tabTitle="{{selectedLine.nombre}} - {{selectedLine.origen}}" ></ion-tab>


</ion-tabs>

</ion-content>

