// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #008000,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

/*
    1: "color": "rgb(68, 116, 63)",
    2: "color": "rgb(183, 141, 186)",
    3: "color": "rgb(244, 91, 164)",
    5: "color": "rgb(114, 192, 216)",
    6: "color": "rgb(79, 109, 94)",
    7: "color": "rgb(73, 156, 117)",
    8: "color": "rgb(78, 67, 177)",
    9: "color": "rgb(171, 71, 143)",
    10: "color": "rgb(98, 62, 90)",
    11: "color": "rgb(243, 219, 120)",
    12: "color": "rgb(241, 181, 67)",
    14: "color": "rgb(97, 115, 199)",
    15: "color": "rgb(36, 116, 204)",
    16: "color": "rgb(84, 150, 175)",
    18: "color": "rgb(113, 98, 64)",
    19: "color": "rgb(94, 165, 50)",
    20: "color": "rgb(222, 84, 78)",
    21: "color": "rgb(108, 0, 7)",
    23: "color": "rgb(179, 150, 51)",
    24: "color": "rgb(96, 86, 119)",
    25: "color": "rgb(102, 102, 102)",
    28: "color": "rgb(233, 160, 200)",
    29: "color": "rgb(196, 166, 149)",
    30: "color": "rgb(160, 69, 65)",
    31: "color": "rgb(211, 221, 125)",
    33: "color": "rgb(104, 121, 129)",
    34: "color": "rgb(150, 150, 145)",
    41: "color": "rgb(245, 142, 73)",
    46: "color": "rgb(238, 170, 96)",

*/
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
