<!--
  Generated template for the RouteBackBus page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>

     <section id="cd-timeline" class="cd-container"  *ngFor="let timeBackList of stopsNamesLineBackList; let i=index" [hidden]="showMap">
      <div >
        <div class="cd-timeline-block">
          <div class="cd-timeline-icon royal" [style.background-color]="routeSelected.colorfuerte">
            {{stopsLineBackList[i]}}
          </div>
          <div class="cd-timeline-content royal">

            <h5 class="marginBottom0 marginTop0">{{timeBackList[2]}}</h5>
          </div>
        </div>
      </div>
    </section>

  <div class="sectionFrecuencias" [hidden]="showMap">

    <h2 class="frecuencia">
      <ion-icon item-left name="time"></ion-icon>
      <strong>Frecuencias</strong>
    </h2>

    <div *ngIf="frequenciesBack">

      <div class="hours" *ngFor="let frecuencyBack of frequenciesBack">

              <span class="frecuencia">
                <ion-icon item-left name="calendar"></ion-icon>
                  <span>{{frecuencyBack.nombreEs}}</span>
              </span>

              <span *ngIf="frecuencyBack.mananas">
                   <span class="frecuencia">
                      <strong>Mañanas:</strong> {{frecuencyBack.mananas}} minutos
                    </span>
                    <span class="frecuencia">
                      <strong>Tardes:</strong> {{frecuencyBack.tardes}} minutos
                    </span>
              </span>

              <span>
                  <span class="frecuencia">
                    <strong>Primeras salidas:</strong> {{frecuencyBack.primerasSalidasVuelta}}
                  </span>
                  <span class="frecuencia">
                    <strong>Últimas salidas:</strong> {{frecuencyBack.ultimasSalidasVuelta}}
                  </span>
              </span>

      </div>
    </div>
  </div>

  <div style="width:100%;height:100%;" #mapBack id="mapBack" *ngIf="showMap">
  </div>

  <ion-fab bottom right [hidden]="hideFabMap">
    <button ion-fab (click)="showMapBack()"><ion-icon name="md-map"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom right [hidden]="hideFapRoute">
    <button ion-fab (click)="showRouteBack()"><ion-icon name="ios-trending-up"></ion-icon></button>
  </ion-fab>


</ion-content>
