page-route-back-bus {

  .myDivImage {
    width: 30px;
    height: 30px;
  }

  .myDivNumber {
    position: absolute;
    top: 0px;
    left: 21px;
    border: 1px solid #00001a;
    background: white;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
  }

}